.feed {
  padding: 10px 20px;
  margin: 50px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .feed {
    margin: 0;
    padding: 5.7em;
  }
}
