.messageSender {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.messageSender__top {
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
}

.messageSender__top > form {
  flex: 1;
  display: flex;
}

.messageSender__top > form > input {
  width: 100%;
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

.messageSender__option {
  padding: 16px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
}

.messageSender__option > h3 {
  margin: 0 0 0 10px;
  font-size: medium;
}

.messageSender__option:hover {
  background-color: #eff2f5;
  border-radius: 25px;
  cursor: pointer;
}

.formUploadPost {
  display: flex;
  flex-direction: column;
}

.formUpload {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .messageSender {
    width: 100%;
  }
}
