.page {
    position: relative;
    margin-top: -1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border: 1px solid #ebe9e6;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.pages_banner {
    width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
    height: 250px;
}

.pages_banner > img {
    height: 250px;
}

.pages_content {
    position: relative;
    padding: 24px 28px;
    display: flex;
    align-items: center;
    background-color: #fff;
    flex: 0.3;
}

.page_info {
    flex: 1;
}

.page_avatar {
    position: relative;
    z-index: 1;
    width: 90px;
    height: 90px;
    margin-right: 20px;
}
