.post {
  width: 600px;
  border-radius: 15px;
  background-color: white;
  box-shadow: -1px -3px 13px -6px rgb(83 57 57 / 75%);
  padding: 0;
  margin: 15px auto;
}

.post__top {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.more-in-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: white;
  padding: 10px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post__avatar {
  flex: 0.1;
}

.post__top-info {
  flex: 1;
  margin-left: 0.7em;
}

.post__top-info h3 {
  font-size: 15px;
  font-weight: 600;
}

.post__top-info p {
  font-size: 14px;
  margin: 0 !important;
}

.post__top-more {
  flex: right;
  padding: 8px;
  position: relative;
}

.post__comment-more {
  width: 40px;
  height: 40px;
  position: relative;
}

.post__top-more:hover .moreIcon {
  background-color: rgb(170, 170, 170, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.moreIcon {
  padding: 5px;
}

.postOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  top: 46px;
  width: 300px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}



.set__border{ 
  border-bottom: 1px solid red;
}

.button_options {
  padding: 6px 10px;
  width: 100%;
}

.post__bottom {
  padding: 4px 16px 16px;
}

.post__bottom p {
  margin: 0;
  font-size: 15px;
}

.post__quantity {
  margin: 0 16px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__image {
  max-height: 600px;
  overflow: hidden;
}

.post__image img {
  height: 100%;
  width: 100%;
}

.post__options {
  display: flex;
  justify-content: space-around;
  margin: 0 12px;
}

.post__option {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  margin: 0.5em 0;
  border-radius: 8px;
}

.post__option:hover {
  background-color: red;
  border-radius: 12px;
  cursor: pointer;
  color: white;
}

.post__option p {
  margin: 0 5px;
}

/* COMMENT */
.post__comment {
  padding: 4px 16px;
  margin: 4px 0;
  display: flex;
  align-items: center;
}

.post__comment-input {
  display: flex;
  width: 100%;
  align-items: center;
}

.post__comment-input input {
  background-color: #f0f2f5;
  margin-left: 8px;
  padding: 8px 12px;
  border-radius: 999px;
  height: 46px;
}

.commentBtn {
  color: antiquewhite !important;
  background-color: #007bff !important;
  width: 30%;
}

.show__comment {
  padding: 4px 16px 4px 16px;
  display: flex;
}

.show__comment-details {
  flex: 1;
  margin-left: 8px;
}

.show__comment-details--top {
  padding: 8px 20px;
  background-color: #f0f2f5;
  border-radius: 18px;
}

.show__comment-content p {
  margin: 0;
}

.show__comment-details--bottom {
  display: flex;
  align-items: center;
}

.show__comment-details--bottom > div {
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {
  .post__comment-input {
    display: flex;
  }

  .commentBtn {
    width: 30vw;
  }
}

.confirm-box{ 
  z-index: 1000;
  /* padding: 20px; */
  position: fixed !important;
  left: 30% !important;
  top: 30% !important;
  right: 30% !important;
}

.confirm-box-element{ 
  padding: 70px;
}
