.register {
    width: 400px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}

.register__title {
    padding: 20px 0 0;
}

.register > form {
    padding: 0 40px;
}

.form__control {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #adadad;
}

.form__control input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 0 20px;
}

.form__control  span::before {
    content: " ";
    position: absolute;
    top: 40px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #2691d9;
    transition: .4s;
}

.form__control input:focus ~ span::before {
	width: 100%;
}

.form__control small {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 4px;
    color: red;
}

.error {
    border-bottom: 2px solid red;
}

.success {
    border-bottom: 2px solid #2691d9;
}

.submit {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #2691d9;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .4s;
}

.submit:hover {
    background-color: #08609a;
}

.form__signup {
    margin: 24px 0;
    color: #666666;
    font-size: 16px;
}

.form__signup a {
    text-decoration: none;
    color: #2691d9;
}

.form__signup a:hover {
    text-decoration: underline;
}

/* Birthday */
.form__birthday {
    margin-top: 50px;
}

.form__birthday > p {
    font-size: 18px;
    font-weight: 600;
}

.form__birthday > input {
    font-size: 18px;
}

/* Gentle */
.form__gentle {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.form__gentle > label {
    margin: 0;
    display: flex;
    align-items: center;
}

#male,
#female {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}